@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #fafafa;
    --secondary-color: #1E1F24;
    --tertiary-color: #FFC41D;
}

.blackmode{
    --primary-color: #0D0C0C;
    --secondary-color: #fafafa;
    --tertiary-color: #FFC41D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary-color);
    transition: 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo{
    color: var(--tertiary-color);
    font-size: 1.7em;
    font-weight: 600;
}

.navbar-menu a{
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 400;
    transition: all 0.3s ease;
}

.navbar-menu a:hover{
    color: var(--tertiary-color);
}

.navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.icons{
    display: flex;
    gap: 1em;
}

.shop-cart, .sun{
    color: var(--tertiary-color);
    font-size: 1.5em;
    cursor: pointer;
}

.moon{
    color: var(--secondary-color);
    font-size: 1.5em;
    cursor: pointer;
}

.btn-login{
    display: flex;
    justify-content: center;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 0 1em;
    align-items: center;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 500;
    transition: all 0.3s ease;
    border-top-right-radius: 0;
}

.btn-login:hover{
    background-color: #FFD700;
    border-top-right-radius: 1em;
}

.burger{
    display: none;
}

.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 4em 2em;
}

.content h1{
    font-size: 2.5em;
    font-weight: 600;
    color: var(--tertiary-color);
}

.content p{
    font-size: 1em;
    font-weight: 400;
    color: var(--secondary-color);
}

.btn-explore{
    display: inline-block;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 0.5em 1em;
    margin-top: 1em;
    border-radius: 1em;
    border-top-left-radius: 0;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-explore:hover{
    background-color: #FFD700;
    border-top-left-radius: 1em;
}

.about {
    padding: 6em;
    text-align: center;
    min-height: 100vh;
}

.about h2{
    font-size: 2.5em;
    font-weight: 600;
    color: var(--tertiary-color);
}

.container-about{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.container-about .box img{
    width: 20em;
    background-color: var(--tertiary-color);
    border-radius: 50%;
}

.container-about .box{
    flex: 1;
}

.container-about .box h3{
    margin-top: 1em;
    font-size: 1.5em;   
    font-weight: 600;
    color: var(--tertiary-color);
}

.title-about{
    flex: 1;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: justify;
}

.shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 6em;
}

.shop-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.shop-container .image img{
    width: 20em;
    height: 30em;
    border-radius: 1em;
    transition: all 0.3s ease;
}

.shop-container .image{
    transition: all 0.3s ease;
}

.shop-container .image:hover{
    transform: scale(1.1);
}

.shop-container .box-container{
    margin-top: 1em;
    position: relative;
}

.heading{
    font-size: 2.5em;
    font-weight: 600;
    color: var(--tertiary-color);
}

.heading span{
    color: var(--secondary-color);
}

.shop-container .image{
    position: relative;
    overflow: hidden;
}

.box-container .icons{
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.box-container .icons a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.box-container .icons a:hover{
    background-color: var(--tertiary-color);
}

.shop-container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-container .content h3{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--tertiary-color);
}

.shop-container .content .harga{
    font-size: 1em;
    font-weight: 600;
    color: var(--secondary-color);
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em;
}


.container-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    grid-auto-rows: 500px;
    grid-auto-columns: dense;
}

.box-gallery {
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.container-gallery .wide{
    grid-column: span 2;
}

.container-gallery .big{
    grid-column: span 2;
    grid-row: span 2;
}

.box-gallery img{
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.3s ease;
    object-fit: cover;
}

.box-gallery:hover{
    transform: scale(1.1);
}


.contact{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 6em;
}

.contact h2{
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 2em;
}

.my-contact{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1F24;
    padding: 2em;
    color: var(--tertiary-color);
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 400;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input, textarea{
    width: 40em;
    padding: 1em;
    color: #0D0C0C;
    border: 1px solid var(--tertiary-color);
    border-radius: 0.5em;
}
.map{
    flex: 1;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.footer{
    display: flex;
    flex-direction: column;
    background-color: #1E1F24;
    color: var(--tertiary-color);
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
}

.footer .link a{
    color: var(--tertiary-color);
    font-size: 1em;
    font-weight: 400;
    margin: 0 1em;
    transition: all 0.3s ease;
}

.footer .link a:hover{
    color: var(--primary-color);
}

@media screen and (max-width: 1150px){
    html{
        font-size: 80%;
    }

    .shop-container .image img{
        width: 15em;
        height: 25em;
    }
}


@media screen and (max-width: 930px){
    html{
        font-size: 75%;
    }

    .burger{
        display: block;
        font-size: 1.5em;
        cursor: pointer;
        color: var(--tertiary-color);
        transition: all 0.3s ease;
    }

    .burger:hover{
        transform: rotate(90deg);
    }

    .navbar-menu{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2rem;
        height: 100vh;
        transition: all 0.5s ease;
    }

    .navbar-menu a{
        font-size: 1.7em;
        font-weight: 600;
    }

    .navbar-menu.active{
        right: 0;
    } 

    .home {
        flex-direction: column-reverse;
        min-width: 100vw;
        margin-right: 0;
    }

    .home img{
        width: 60%;
    }

    .home .content{
        text-align: center;
    }

    .about .container-about{
        flex-direction: column-reverse;
        gap: 1em;
    }

    .shop-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .shop-container .image img{
        width: 15em;
        height: 20em;
    }

    .about .title-about p{
        text-align: center;
    }

    .contact .row{
        flex-direction: column;
        gap: 1em;
    }

    .map{
        width: 100%;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }

    .my-contact{
        width: 100%;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    .row .form-group input{
        width: 15em;
        height: 1em;
    }
    
    .row .form-group textarea{
        width: 15em;
        height: 5em;
    }
}

@media screen and (max-width: 579px){
    html{
        font-size: 70%;
    }

    header{
        justify-content: space-between;
        padding: 20px 1em;
    }
}

@media screen and (max-width: 450px){
    html{
        font-size: 60%; 
    }

    .home img{
        width: 30em;
    }

    .shop-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .container-gallery{
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }


    .contact{
        padding: 2em;
    }

    .container-gallery{
        grid-auto-rows: 100px;
    }

    .box-gallery {
        max-width: 30em;
        max-height: 20em;
    }
}